@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* CSS reset para garantir consistência entre navegadores */
:root {
  --roboto: 'Roboto', sans-serif;
  --color-background: #2f2e2e;
  --color-text: #e4e4f2;
  --color-primary: #423d3d;
  --color-secondary: #252622;
  --color-orange: #d37903;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--roboto);
}

body {
  font-size: 16px;
  background-color: rgb(127, 127, 127);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    margin: 1.5rem 0;
  }
}
